body {
    background-image: url(img/background.jpg);
    background-size: auto;
    color: white
}

.menu {
    color: white ;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    
}

.menu:hover {
    color: gray;
}



